<section class="layout">
  <!--
  <section class="layout-control-buttons">
    <h3>Control Buttons</h3>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" (click)="addEmployee()">
          Add Employee
        </button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="openToastr()">
          Open Toastr
        </button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="openSweetalert()">
          Open Sweetalert
        </button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="questionSweetalert()">
          Question Sweetalert
        </button>
      </div>
      <div class="col">
        <button class="btn btn-primary"
                [swal]="{title: 'Foo', text: 'Bar', showCancelButton: true}"
                (confirm)="handleConfirm()">
          Question Sweetalert
        </button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="getEmployees()">
          Reload Employees
        </button>
      </div>
    </div>
  </section>
  <hr/>
  -->
  <section class="layout-form">
    <h3>Form</h3>
    <form [formGroup]="employeeForm" (submit)="addOrUpdateEmployee()">
      <div class="row">
        <div class="col">
          <div class="form-group mb-2">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name"
                   formControlName="name"/>
            <ng-container *ngIf="employeeForm.controls['name'].invalid">
              <small class="text-danger"
                     *ngIf="employeeForm.controls['name'].touched &&
                     employeeForm.controls['name'].errors?.['required']">
                This field is required
              </small>
            </ng-container>
          </div>
        </div>
        <div class="col">
          <div class="form-group mb-2">
            <label for="department">Department</label>
            <input type="text" class="form-control" id="department" name="deparment"
                   formControlName="department"/>
            <ng-container *ngIf="employeeForm.controls['department'].invalid">
              <small class="text-danger"
                     *ngIf="employeeForm.controls['department'].touched &&
                     employeeForm.controls['department'].errors?.['required']">
                This field is required
              </small>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <button type="submit" class="btn btn-primary me-2" [disabled]="employeeForm.invalid">
              <fa-layers>
                <fa-icon [icon]="faUserTie"></fa-icon>
                <fa-layers [fixedWidth]="true">
                  <fa-icon [icon]="faCircle" transform="shrink-6 down-2 right-2"></fa-icon>
                  <fa-icon [icon]="currentEmployee.id ? faPencil : faAdd"
                           [transform]="currentEmployee.id ? 'shrink-9 down-2 right-2' : 'shrink-6 down-2 right-2'"
                           style="color:black;">
                  </fa-icon>
                </fa-layers>
              </fa-layers>
              {{currentEmployee.id ? 'Edit' : 'Add'}}
              Employee
            </button>
            <button type="button" class="btn btn-danger" (click)="cleanForm()">
              <fa-icon [icon]="faBroom"></fa-icon>
              Clean Form
            </button>
          </div>
        </div>
      </div>
    </form>
  </section>
  <hr/>
  <section class="layout-table">
    <ng-container *ngIf="loadingEmployees">
      <p>
        <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
        Loading employees...
      </p>
    </ng-container>
    <ng-container *ngIf="!loadingEmployees">
      <h3>
        <fa-icon [icon]="faUserTie"></fa-icon> Employees
      </h3>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{employee.name}}</td>
            <td>{{employee.department}}</td>
            <td>
              <a [ngbTooltip]="'Edit'" (click)="editEmployee(employee.id)">
                <fa-icon [icon]="faPencil" [fixedWidth]="true"></fa-icon>
              </a>
              <a [ngbTooltip]="'Delete'"
                 [swal]="{title: 'Warning', text: 'Are you sure you want to delete this employee?', showCancelButton: true}"
                 (confirm)="deleteEmployee(employee.id)">
                <fa-icon [icon]="faTrash" [fixedWidth]="true">
                </fa-icon>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </section>
</section>
